
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212121;
}

.container {    
    text-align: center;
    max-width: 80%;
    width: 40%;
    background: beige;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: green;
    color: #fff;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
    text-align: left;
}

.weather-info p {
    margin: 5px 0;
}
